/* Jumbotron styles
-------------------------------------------------- */

/* Main marketing message and sign up button */
.jumbotron {
  margin-top: 40px;
  margin-bottom: 40px;
  background: none;
}
.jumbotron h1 {
  font-weight: 300;
  font-size: 50px;
}
.btn-outline {
  color: #5cb85c;
  background-color: transparent;
  border-color: #5cb85c;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}
#logo {
  margin-top: 20px;
  margin-bottom: 40px;
}

/* List of features styles
-------------------------------------------------- */

#features {
  color: #fff;
  background: #34495e;
  margin: 40px 0 0 0;
  padding: 40px 0;
}
#features p + h4 {
  margin-top: 28px;
}
