/* Jumbotron styles
-------------------------------------------------- */

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background: none;
}
.jumbotron h1 {
  font-weight: 300;
}
.jumbotron .btn-outline {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 18px 24px;
  font-size: 21px;
}
.btn-outline {
  color: #5cb85c;
  background-color: transparent;
  border-color: #5cb85c;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}

/* List of features styles
-------------------------------------------------- */

#features {
  color: #fff;
  background: #34495e;
  margin: 40px 0;
  padding: 40px 0;
}
#features p + h4 {
  margin-top: 28px;
}

/* List of screenshots styles
-------------------------------------------------- */
#screenshots {
  margin: 40px 0;
}
